<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>todo</title>
    <link rel="stylesheet" href="./todo.css">
</head>
<body>
    <div class="shadow" id="shadow"></div>
    <div class="invoice">
        <div class="content" id="content">
        <div class="tittle">
            <h1>Helshr's production</h1>
            <h2>Memorandum</h2>
            <h3>Record what you have not done.</h3>
        </div>
        <div class="todo-form left">
            <input id="id-input-todo" type="text" name="addItem" class="input-item" placeholder="添加待办事项">
            <button type="submit" class="add-item">添加</button>
            <button class="edit-item">修改</button>
        </div>
        <div id="id-div-container"></div>
        <div class="todo-time"></div>
            <div class="footer">
                <p>TEL：15184456264</p>
                <p>QQ：761623842</p>
                <p>E-mail： 761623842@qq.com</p>
            </div>
        </div>
        <div class="clear"></div>
    </div>

    <script src="./main.js"></script>
</body>
</html>